@import "~bootstrap/dist/css/bootstrap.css";
@import "~quill/dist/quill.snow.css";

html {
    height: 100%;
}
body{
    background-image: url("https://www.gospeldream.fr/css/img/wood.jpg");
    height: 100%;
    
}
.ql-editor {
    min-height: 30vh;
}

.col-action {
    width:110px;
}

.o-admin-header {
    background: white;
    padding: 1em;
    display: flex;
    .btn{
     margin-left: auto;   
    }
}

.main-container{
    background: red;
}
.admin-content{
    background: white;
    padding: 1em;
}
.o-guest-card{
    outline: solid;
    max-width: 373px;
    background: rgb(255, 255, 255);
    margin-top: 10em;
    padding: 2em;
    border-radius: 0.2em;

    
}

.o-admin-page{
    .main-wrapper{
        max-width: 1024px;
        margin: 2em auto;
        min-height: 800px   ;
        background: white;
    }
}
.card-image{
    margin-bottom: 2em;
}

form{
    .text-box{
        margin-bottom: 1em;
    }
}
