@import "utils";
@import "typography";
@import "colors";

* {
    box-sizing: border-box;
}


.card {
    background-color: chartreuse;
    padding: 2em;
}

a {
    color: $Loulou;
    text-decoration: underline;
}

body {
    background-image: url("https://www.gospeldream.fr/css/img/wood.jpg");
    padding: $unit;

    .o-master-header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 28px;
        border-radius: $unit $unit 0 0;
        
        .column{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1em;

            @media (min-width: 960px) {
                align-items: initial;
            }
        }

        @media (max-width: 960px) {
            flex-direction: column;
            align-items: center;

        }

    }

    .main-wrapper {
        max-width: 1226px;
        margin: auto;
        position: relative;

        .container {
            main {
                background: white;
                padding: $unit;
            }
        }
    }
}

#mobile-btn {
    padding: 1em 3em;
    color: #3d0635;
    border: 2px solid #3d0635;
    border-radius: 0.5em;
    
    cursor: pointer;
       &:hover{
           color: white;
           background: #3d0635;  
       }

    @media (min-width: 960px) {
      display: none;
    }
    
}
.btn-buy {
    background-color: #4a0740;
    color: #fff;
    border-radius: 0;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #EFEFEF;
    border-radius: 0.8em 0.8em 0 0;

    .header-logo {
        display: flex;
        align-items: center;
        max-width: 18em;
        margin-bottom: 0.5em;
        width: 22em;
        picture {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.o-main-nav {
    display: none;
    padding: 0;
    flex-wrap: nowrap;
    margin: 0;
    background-color: #4A0740;
    &.is-display{
        display: flex;
    }
    .nav-item {
        list-style-type: none;
        flex-grow: 1;

        a {
            display: flex;
            text-align: center;
            font-size: 1.1em;
            color: #cdcfc9;
            height: 3em;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &.active {
                color: #fff;
                background: #7D6990;
                font-weight: 700;
            }
            &:hover{
                color: #fff;
            }
        }
    }

    @media (max-width: 960px) {
        
        position: absolute;
        width: 93%;
       
    }

    @media (min-width: 960px) {
       display: flex;
        flex-direction: row;
    }
}

.header-baseline {
   
    background: #3D0635;
    border-radius: 5px;
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.6px;
    height: min-content;
    width: max-content;
    padding: 8px;
    max-height: 2.4em;
    margin-bottom: 1em;
    align-self: center;

    p {
        font-family: 'Anton', sans-serif;
        margin: 0;
        font-size: 1em;
        color: white;
        white-space: nowrap;
    }

    
}

button {
    margin: 0;
}

.o-contact-block {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        list-style-type: none;
        min-height: 36px;
        text-align: center;
        margin-top: 12px;
        width: 100%;
        color: white;
        font-weight: bold;

        &:first-of-type {
            margin-top: initial;
        }

        a {
            height: 100%;
            width: 100%;
            min-height: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3em;
            border-radius: 0.5em;
            background-color: #7d6990;
            &:hover{
                background-color: #4a0740;
            }
        }
    }

}

#contact-block {
    width: 100%;
    margin-top: 1em;

    p {
        text-align: center;

        span {
            display: block;
            font-size: 20px;
            font-weight: bold;
            color:#4a0740;
        }
    }
}

.btn {
    min-height: 1em;
}

.socials-icons{
    a{
        text-decoration: none;
        i{
            &::before{
                font-size: 2em;
                @media (min-width: 960px) {
                    font-size: 1.2em;
                }
            }
        }
    }
    
}
.o-section-title {
    display: none;
     
    @media (min-width: 960px) {
        display: flex;
        align-items: center;
        font-family: Adamina, serif;
        color: $white;
        background: hsl(309deg 31% 16%);
        padding: 0.7em;
        height: 8em;
    }
    h1 {
        margin: 0 1em 0;
        @media (max-width: 960px) {
            margin: auto;
        }
    }

    @media (max-width: 960px) {
        margin: 0;
        font-size: 22px;
        min-height: initial;
    }
}

h2 {
    color: #510040;
}

.main-column {

    @media (min-width: 960px) {
        margin: initial;
    }
}


footer {
    display: flex;
    background-color: #e7e7e7;
    padding: 1em;
    border-radius: 0 0 1em 1em;
  
    .footer-mentions, .footer-copyrights {
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 1em;
        p {
            margin: 0;
        }

        @media (max-width: 960px) {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-self: center;
        }
    }

    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
        a#facebook {
            margin-right: -0.5em;
        }

        p {
            margin: 0;
        }

        @media (min-width: 960px) {
            margin-top: initial;
            flex-direction: row;
            margin-left: auto;
        }

    }

    @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
    }
}

.aside-column {
    background-color: white !important;

    .container {
        padding: 0 !important;
        margin-top: 1em;
    }
}

.o-photo-gallery {
    .container {
        padding: 0 !important;

        .photos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;

            .photo {
                outline: solid #f1f1f1 2px;

                &:hover {
                    outline: 2px solid rgb(204, 204, 204) !important;
                }
            }
        }
    }
}

.o-main-content {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    .main-column {
        background-color: #FFF;
        padding: 1em;
        width: 100%;
        font-size: 16px;
        h2:nth-of-type(n+2) {
            margin-top: 1em
        }
    
        @media (min-width: 960px) {
            width: 80%;
            
        }

    }

    .aside-column {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            background: #4a0740;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 20px;
            padding: 0.5em;
            margin: 0;
        }

        picture {
            width: 100%;

            img {
                width: 100%;
                min-width: 13rem;
            }
        }


        button {
            width: 90%;
            padding: 0;
        }

    }

    @media (min-width: 960px) {
        padding: 2em;
        flex-direction: initial;
    }
}


.o-main-content {
    .main-column {

        p {
            font-weight: normal !important;

            strong {
                font-weight: normal !important;
                color: $Loulou;
            }
        }

        h3 {
            em {
                color: $Loulou;
                font-style: normal;
                font-family: Adamina, serif;
                font-size: 1.3em;
            }
        }

    }

}

.card-body {
    background: var(--main-bg-color);

    .btn-primary {
        background: blue;
        border-radius: 0;
    }
}


p br {
    display: none;
}


.o-card-event {
    background: #005cff;
    border-radius: 0.8em;
    overflow: hidden;
    margin-top: 1em;
  .card-title{
      height: 4em;
      background: #3d0635;
      display: flex;
      align-items: center;
      justify-content: center;
      h4{
          margin: 0;
          font-size: 1.2em;
          font-weight: 100;
          color: white;
          text-align: center;
      }
  }

    .card-description {
        width: 100%;
        display: flex;
        flex-direction: column;

        .event-description {
            display: flex;
            flex-direction: column;

            .event-image {
                background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cg%3E %3Cg%3E %3Cpath d='M245.5,74.7l-89.7,81.5c0,0,0,0-0.1,0.1c-2,1.9-3.3,4.5-3.3,7.5v137.9L36,340.1c0,0,0,0,0,0l-1.4,0.5 c-4.2,1.4-7,5.3-7,9.7v151.5c0,5.6,4.6,10.2,10.2,10.2h436.5c5.6,0,10.2-4.6,10.2-10.2V350.3c0-4.4-2.8-8.3-7-9.7l-1.4-0.5 c0,0,0,0,0,0l-116.8-38.4V163.8c0-2.9-1.3-5.6-3.3-7.5c0,0-0.1-0.1-0.1-0.1l-89.9-81.5L245.5,74.7z M152.5,491.6H48V360h104.5 L152.5,491.6L152.5,491.6z M152.5,339.6h-49.8l49.8-16.5V339.6z M255.8,93l66.8,60.5H189.1L255.8,93z M297.5,491.6h-83.3v-50.9 c0-22.6,15.9-41,35.4-41h12.6c19.5,0,35.4,18.4,35.4,41V491.6z M338.8,491.6h-20.9v-50.9c0-33.9-25-61.4-55.8-61.4h-12.6 c-30.8,0-55.8,27.5-55.8,61.4v50.9h-20.9V349.8V174h165.9L338.8,491.6L338.8,491.6z M359.2,323.2l50,16.5h-50V323.2z M464,491.6 H359.2V360H464L464,491.6L464,491.6z'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3Cg%3E %3Cpath d='M255.7,214.4c-14.6,0-26.5,11.9-26.5,26.5v72.3c0,5.6,4.6,10.2,10.2,10.2H272c5.6,0,10.2-4.6,10.2-10.2v-72.3 C282.2,226.3,270.4,214.4,255.7,214.4z M261.8,303h-12.2v-62.1c0-3.4,2.7-6.1,6.1-6.1c3.4,0,6.1,2.7,6.1,6.1L261.8,303L261.8,303z '/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3Cg%3E %3Cpath d='M390.8,463.8h-2.1c-5.6,0-10.2,4.6-10.2,10.2s4.6,10.2,10.2,10.2h2.1c5.6,0,10.2-4.6,10.2-10.2 C401,468.3,396.4,463.8,390.8,463.8z'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3Cg%3E %3Cpath d='M446.4,463.8h-23.7c-5.6,0-10.2,4.6-10.2,10.2s4.6,10.2,10.2,10.2h23.7c5.6,0,10.2-4.6,10.2-10.2 C456.6,468.3,452,463.8,446.4,463.8z'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                color: transparent;
                height: 10em;
            }

            .event-image + p {
                margin: 0;
                padding: 1em;
                text-align: center;
            }
        }
    }
    .event-time {
        background-color: hsl(0deg 0% 0% / 38%);
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        width: 100%;
    }
    .event-reservation {
        text-align: center;
        background: rgb(221, 218, 218);
        a {
            display: flex;
            align-items: center;
            background-color: #3d0635;
            text-align: center;
            width: 100%;
            justify-content: center;
            height: 3em;
            text-decoration: none;
            color: white;
        }
    }
}

.a-heading{
    font-size: 2em;
}
