@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;
$montserrat-slab : 'Montserrat',
sans-serif;


body {
    font-family: $roboto-slab;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $roboto-slab;
    font-weight: normal;
}

.button {
    font-family: $roboto-slab;
    font-weight: bold;
}

.a-heading {
    font-size: 2em;
}

em {
    font-style: normal !important;
}

p {
    br {
        display: none;
    }
}


.uppercase {
    text-transform: uppercase !important;
}



em {
  
    font-style: normal;
}





h1,
.h1 {}

h2,
.h2 {}

h3,
.h3 {}

a {
  
    text-decoration: underline;
}

h4,
.h4 {

    font-size: 0.5em;
    color: initial;
    margin: 0;
}

.txt {
    & &--left {
        text-align: left !important;
    }

    & &--center {
        text-align: center !important;
    }

    & &--right {
        text-align: right !important;
    }

}




h5,
.h5 {}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #510040;
}