:root {
    /* colors */
    --color-0: #fff;
    --color-1: #4a0740;
    --color-2: #cdcfc9;
    --color-3: #7D6990;
    --color-4: #e7e7e7;
    --color-5: #9A6196;
    --color-6: #9A8E61;
    --color-7: #000000;
    --tablet: 60em;
    --deskyop: 60em;
    --header-background : var(--color-0);
    --unit: 1em;
}
