:root {



    /* colors */
    --color-0: #fff;
    --color-1: rgb(51, 31, 48);
    --color-2: #cdcfc9;
    --color-3: #7D6990;
    --color-4: #e7e7e7;
    --color-5: #9A6196;
    --color-6: #9A8E61;
    --color-7: #000000;

    --tablet: 60em;
    --deskyop: 60em;

    --header-background : var(--color-0);
    --space-unit: 1rem;
    --unit: 1em;
    --kr-white: hsl(0, 0%, 100%);
    --bs-purple-100: hsl(309, 82%, 13%);
    --flex-sp-bt: space-between;
    --flex-col: var(--flex-col);
    --flex-row: row;

    /* spacer */
    --flex: flex;
    --radius: 0.25em; // border radius base size
    --radius-sm: calc(var(--radius)/2);
    --radius-md: var(--radius);
    --radius-lg: calc(var(--radius)*2);

    --text-center: center;


    /* spacer */
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    --component-padding: var(--space-md);
}

.link-primary {
    color: var( --color-1) !important;
  }


$border-radius : 5em;

/* Margins & paddings
// ================================================== */
.u{
    &-margin{
        &--top{
            &-xs{
                margin-top: --space-xs !important;
            }
            &-sm{
                margin-top: --space-sm !important;
            }
            &-lg{
                margin-top: --space-lg !important;
            }
            &-xl{
                margin-top: --space-xl !important;
            }
            &-none{
                margin-top: 0 !important;
            }
            &-auto{
                margin-top: auto !important;
            }
        }
        &--right{
            &-xs{
                margin-right: --space-xs !important;
            }
            &-sm{
                margin-right: --space-sm !important;
            }
            &-lg{
                margin-right: --space-lg !important;
            }
            &-xl{
                margin-right: --space-xl !important;
            }
            &-none{
                margin-right: 0 !important;
            }
            &-auto{
                margin-right: auto !important;
            }
        }
        &--bottom{
            &-xs{
                margin-bottom: --space-xs !important;
            }
            &-sm{
                margin-bottom: --space-sm !important;
            }
            &-lg{
                margin-bottom: --space-lg !important;
            }
            &-xl{
                margin-bottom: --space-xl !important;
            }
            &-none{
                margin-bottom: 0 !important;
            }
            &-auto{
                margin-bottom: auto !important;
            }
        }
        &--left{
            &-xs{
                margin-left: --space-xs !important;
            }
            &-sm{
                margin-left: --space-sm !important;
            }
            &-lg{
                margin-left: --space-lg !important;
            }
            &-xl{
                margin-left: --space-xl !important;
            }
            &-none{
                margin-left: 0 !important;
            }
            &-auto{
                margin-left: auto !important;
            }
        }
     
    }
    &-padding{
        &-none{
            padding: 0 !important;
        }
    }
}

/* Flexbox
// ================================================== */
.d--f  { display: flex; }
.d--if { display: inline-flex; }

/* Flex direction */
.fd--r  { flex-direction: row; } /* Default */
.fd--rr { flex-direction: row-reverse; }
.fd--c  { flex-direction: column; }
.fd--cr { flex-direction: column-reverse; }


/* Flex wrap */
.fw--n  { flex-wrap: nowrap; } /* Default */
.fw--w  { flex-wrap: wrap; }
.fw--wr { flex-wrap: wrap-reverse; }


/* Justify content */
.jc--fe { justify-content: flex-end; }
.jc--fs { justify-content: flex-start; } /* Default */
.jc--c  { justify-content: center; }
.jc--sa { justify-content: space-around; }
.jc--sb { justify-content: space-between; }


/* Align items */
.ai--fs { align-items: flex-start; }
.ai--c  { align-items: center; }
.ai--fe { align-items: flex-end; }
.ai--s  { align-items: stretch; } /* Default */
.ai--b  { align-items: baseline; }


/* Flex grow */
.fg--0 { flex-grow: 0; } /* Default */
.fg--1 { flex-grow: 1; }


/* Flex shrink */
.fs--0 { flex-shrink: 0; }
.fs--1 { flex-shrink: 1; } /* Default */


/* Flex basis */
.fb--a { flex-basis: auto; } /* Default */
.fb--0 { flex-basis: 0; }


/* Align self */
.as--a  { align-self: auto; } /* Default */
.as--fs { align-self: flex-start; }
.as--c  { align-self: center; }
.as--fe { align-self: flex-end; }
.as--s  { align-self: stretch; }
.as--b  { align-self: baseline }



