body {
  background-image: url("../img/wood.jpg") !important;
}


.section--tiltle {
  text-indent: 0.6em;
  font-style: italic;
  font-family: Adamina, serif;
  color: rgb(255,255,255);
  background: #844d7b;
}

.header--section {
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background: #844d7b;
  border-style: none;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  /*isolation: isolate;*/
  background: #3D0635;
  margin: 0px;
  border-style: none;
  border-color: var(--bs-border-color-translucent);
}

.img-fluid {
  width: 16rem;
    margin-top: 1em;
}

header .navbar-brand img {
  width: 16rem;
  margin: 1em;
}
header span {
  margin: 1em;
  font-family: "Alegreya Sans", sans-serif;
  background: linear-gradient(#361030, #45143c 100%), var(--bs-purple);
  color: white;
  border-radius: 0.3em;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  font-size: 1.2em;
  padding: 0.2em 0.5em 0.3em;
}

.nav-tabs .nav-link, .nav-tabs:hover .nav-link:hover {
  border: none;
  margin-bottom: 0;
}

.card {
  margin-top: 1em;
}

h2 {
  margin-top: 1em;
}
body {
  padding: 2em;
  background: black;
}
body .container {
  background: red;
  padding: 2em;
}
body .container main {
  background: white;
  padding: 1em;
}